
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				
}
input[type="checkbox"]{
	height: 100%;
	width:  100%;
	-webkit-appearance: none;
	border-radius: 50%;
	border: 8px solid #1c1c1c;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.125) , 10px 10px 15px rgba(0,0,0,0.6);				
	outline: none;	
	z-index: 1;
	cursor: pointer;
								
}
body {
				height: 100vh;
				width: 100%;
				background-color: #1c1c1c;
				display: grid;
				place-items: center;
				padding-bottom: 5rem;
}

.body{
				background-image: url("Imagens/fundo.png");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top center ;
				background-attachment: fixed;
}

.c-main{
				display: flex;
				gap: 2rem;
				align-items: center;
				flex-direction: column;
				max-width: 350px;
				
}
.c-imagem{
	width: 100%;
}
.c-button{
	width: 7rem;
	height: 7rem;
    margin-left: 2rem;
}
.c-button__span{
	width: 100%;
	height: 100%;
    position: relative;
	display: grid;
	place-items: center;
}

.c-button__icon{
	position: absolute;
	color: #00c2ff;
	font-size: 4rem;
}


input:checked{
				box-shadow: 
				-10px -10px 15px rgba(255,255,255,0.125) ,
				
				 10px 10px 15px
				  rgba(0,0,0,0.6),
				  
				 inset -10px -10px 15px rgba(255,255,255,0.125) ,
				  
				 inset 10px 10px 15px rgba(0,0,0,0.6)
				 
}

